/* General styling */
body {
    min-height: 100vh;
    background-color: #eee;
    color: #222;
    font-family: Verdana, sans-serif;
}

.body {
    padding: 15px;
}

p {
    font-size: 15px;
    color: #333;
}

a {
    color: rgb(0, 136, 221);
}
a:hover {
    color: rgb(21, 150, 231);
}

/* Styling for footer */
footer {
    background: #ddd;
    padding: 2vh 5vw 2vh 5vw;
    margin: 0px -6px -15px -15px;
}


/* Styling for top navbar */
nav {
    height: 9vh;
}

.nav-link {
    padding-top: 25px;
    color: rgb(0, 118, 187);
    font-variant: small-caps;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-image {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.right {
    position: relative;
    float: right;
    text-align: right;
}

.left {
    position: relative;
    float: left;
    text-align: left;
}

#site-logo {
    padding-top: 15px;
    font-size: 33px;
    font-weight: 800;
}

#nutri {
    color: #13b834;
}
#pizza {
    color: #c0300c;
}

#logo-png {
    max-width: 70px;
    max-height: 70px;
}
#logo-png:hover{
    cursor: pointer;
}


/* Styling for homepage */
.front-page-info {
    text-align: right;
    line-height: 1.5em;
    margin-left: 37%;
    margin-right: 3%;
    width: 60%;
    font-size: larger;
}

#left-info {
    text-align: left;
    margin-left: 3%;
}


/* Styling for forms */
form {
    margin: auto;
    width: 50%;
    text-align: center;
}

.form-group {
    padding: 15px;
}

.form-control {
    border: none;
    border-bottom: solid #0062ff;
    background-color: #222;
    color: #ddd;
    width: 25vw;
    height: 30px;
    font-size: larger;
    transition: 0.3s ease-in;
}
.form-control:focus {
    border-bottom: none;
    border: solid #ffff00;
}


.form-submit-btn {
    min-width: 5vw;
    font-size: larger;
    background-color: #222;
    color: #ddd;
    border: solid #00f;
    border-radius: 25px;
    transition: 0.1s ease-in;
    padding: 10px;
}
.form-submit-btn:hover {
    border: solid #6e0dd0;
    background-color: #ddd;
    color: #222;
    cursor: pointer;
}

#final-submit-btn {
    margin-left: 45vw;
}


/* Styling for info cards */
#cards-holder {
    display: inline-flex;
    flex-flow: row wrap;
    padding-left: 3%;
}

.info-card, .disease-card {
    margin: 20px 3vw 0px 3vw;
    padding: 0px 20px 10px 20px;
    border: solid #333;
    background: #ccc;
}

.disease-card {
    margin: auto;
    margin-top: 20px;
    margin-left: 3vw;
    max-width: 20vw;
    min-width: 240px;
}

/* Styling for pbq(Problem Because of Query) element */
#pbq {
    color: #5ac;
}

#pbq:hover {
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

/* Styling for disclaimer, consent form and choice confirmation */
#disclaimer {
    font-size: 4vh;
    text-decoration: overline underline;
    color: #ff3300;
}

.red {
    color: #cf3913;
}
.green {
    color: #32bb4d;
}

#final {
    margin: auto;
    text-align: center;
}

#wait {
    color: #f92;
}
#wait:hover {
    text-decoration: underline;
    cursor: pointer;
}

hr.dd23j {
    background-color: #fff000;
    height: 1px;
    width: 30%;
}